torch >= 1.6, < 1.9
torchvision
torchtext
torchaudio
torchmetrics
albumentations
opencv-python
pudb
pytorch-lightning >= 1.3
einops
regex
g-mlp-pytorch
ftfy
tokenizers
transformers
youtokentome
WebDataset
axial_positional_embedding
pillow
dalle_pytorch
wandb
sklearn
gym
tensorboard
